* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  tex-direction: none;
}
@mixin BACK_GRADIENT{
  background: rgb(247,251,252);
  background: -moz-linear-gradient(top,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%);
  background: linear-gradient(to bottom,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=0 );

}
@mixin BACK_GRAY{
  background: rgb(246,248,249);
  background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
  background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );


}
#container {
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 940px;
    width: 540px;
    position: fixed;
    margin-top: 6px;
    border-radius: 6px;
    background-image:  linear-gradient(to bottom, rgba(255, 244, 253, 0.65), rgba(85, 73, 249, 0.16)),url('../images/weather.jpg');
    background-size: cover;
    #city {
      position: absolute;
      right: 1vw;
      top: 3vw;
    }
    #inp-city {
      line-height: 2em;
      font-size: 1.5em;
      border: none;
      background-color: rgba(111, 7, 2, 0.08);
      border-radius: 6px;
      outline: none;
      color: #fff;
      text-align: center;
      @include BACK_GRADIENT;
    }
    #today-weather {
      .today {
        width: 12vw;
        height: 12vw;
        border: 20px solid rgba(2, 6, 7, 0.12);
        border-radius: 50%;
        //border-image: linear-gradient(red ,blue) 20 20;
        text-align: center;
        img {
          width: 60%;
        }
      }
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 20vw;
      height: 20vw;
      border-right: 4px solid rgba(45, 38, 121, 0.27);
      border-bottom: 4px solid #d7dee3;
      border-radius: 50%;
      font-size: 1.5rem;
      ul {
        li {
          color: #3c7090;
          width: 10vw;
        }

        li p {
          display: inline-block;
          margin-right: 4px;
          width: 3.5vw;
          height: 3.5vw;
          border: 4px solid rgba(2, 6, 7, 0.05);
          border-radius: 50%;
          text-align: center;
          line-height: 3.5vw;
          @include BACK_GRAY
        }

        @mixin absolute($top,$right) {
          position: absolute;
          top: $top;
          right: $right;
        }
        .wind-direction{
          @include absolute(3vh,-6vw);
        }
        .wind-scale{
          @include absolute(13vh,-8vw);
        }
        .quality {
          @include absolute(23vh,-8vw);
        }
        .humidity {
          @include absolute(32vh,-5vw);

        }
      }

    }
    #sugestion p {
      padding: 6px 40px;
    }
    #week-weather {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-self: center;
      li {
        width: 16%;
        padding: 10px 6px;
        border-radius: 4px;
        background-color: rgba(5, 41, 113, 0.44);
        img {
          width: 100%;
        }
      }
    }
  }
  aside {
    margin-left: 542px;
    img {
      padding: 2px;
    }
  }
}